.left-banner
    background: url('https://www.walldevil.com/wallpapers/w02/788496-black-background-star-wars-stormtroopers.jpg') no-repeat center center fixed
    width: 30%
    position: absolute
    left: 0
    height: 100%
    background-size: cover

.right-banner
    width: 70%
    position: absolute
    right: 0
    height: 100%