.event-list
    padding-right: 100px
    padding-left: 100px
    margin-right: auto
    margin-left: auto
    margin-top: 200px
    background-color: $bg-color

    .loading-container
        margin: 100px 500px

    .events-header
        .events-header-titles
            display: inline
            li
                display: inline
                left: 10px
                padding: 0px 10px

                a
                    font-family: Hing Bold
                    font-size: 20px
                    color: $black
                    text-align: left
                    cursor: pointer
                    text-decoration: none

        .events-header-buttons
            float: right
            li
                display: inline
                left: 10px
                padding: 0px 10px
                a
                    font-family: Hing Bold
                    font-size: 20px
                    color: $black
                    text-align: left
                    cursor: pointer
                    text-decoration: none

    .event-box
        background-color: $white
        margin: 20px 5px
        display: flex
        flex-wrap: nowrap
        padding: 10px 10px
        border: none
        box-shadow: 2px 5px $light-gray
        border-radius: 5px

        > span
            width: 100%
            text-align: center
            font-size: 30px
        .event-title
            font-family: Hind Bold
            font-size: 24px
            padding-left: 5px
            padding-right: 10px
            padding-top: 15px
            font-weight: 600

        .event-description
            font-family: Hind Light
            padding-left: 5px
            padding-right: 20px
            padding-top: 20px
            font-size: 16px
            color: $light-gray
        
        .event-author
            font-family: Hind Bold  
            padding-left: 5px
            padding-right: 20px
            padding-top: 20px
            font-size: 20px
            color: $dark-gray
            font-weight: 600
        
        .event-date
            font-family: Hind Light
            padding-left: 5px
            padding-right: 20px
            padding-top: 20px
            font-size: 16px
            color: $light-gray
        
        .event-capacity
            font-family: Hind Bold  
            padding-left: 5px
            padding-right: 20px
            padding-top: 20px
            font-size: 20px
            color: $dark-gray
            font-weight: 600

        button
            height: 60px
            padding: 17px 50px
            margin-top: 10px
            font-family: Hind Bold
            font-size: 20px


