.main-logo
    position: absolute
    left: 50px
    top: 10px
    background-color: $bg-color

    h2
        font-family: Hind Bold
        font-size: 32px
        color: $black
        font-weight: 600