.plus-button
    position: absolute
    top: 85%
    right: 50px

    button
        border-radius: 50%
        padding: 25px 25px
        background-color: $black-button
        color: $white
        margin-top: 0