.plus-button
    position: fixed
    bottom: 20px
    right: 50px

    @media only screen and (max-width: $break-small)
        right: 5px

    button
        border-radius: 50%
        padding: 20px 25px
        background-color: $black-button
        color: $white
        margin-top: 0