.signup-form
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)

    .signup-header
        margin-bottom: 100px

        .error-span
            font-family: Hind-Light
            color: $error-color

        h2
            font-family: Hind-Bold
            font-size: 40px
        span
            color: $light-gray
            font-family: PlayfairDisplay-BlackItalic
            font-size: 20px
